* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.container {
    padding: 25px 0 10px 150px;
    background: linear-gradient(#FFFFFF, #f1f2fc);
    /* background: linear-gradient(#FFFFFF, #f9f9fa); */

}

.header {
    display:flex;
    justify-content: space-between;
    /* position: fixed; */
}

button {
    color: white;
    padding: 18px 28px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    /* font-family: 'Plus Jakarta Sans' */
}

.top-btn {
    margin-right: 50px;
}

.get-started-btn {
    background-color: #13183F;
}

.color-gradient-1 {
    background: linear-gradient(#FF6F48, #F02AA6);
}

.color-gradient-2 {
    /* background: linear-gradient(#F02AA6, #FF6F48); */
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-top: -200px;
}

.hero-text {
    width: 47%;
    display:flex;
    flex-direction: column;
    row-gap: 30px;
}

.hero-text h1 {
    margin-top: 100px;
}

.hero-text p {
    padding-right: 130px;
}

.hero-text button {
    width: 28%;
}

/* .hero-text p {
    color: #83869a;
    padding: 30px 0;
} */

.hero-img {
    width: 53%;
}

.hero-img img {
    display: flex;
}

.heading-1 {
    color: #13183F;
    font-size: 60px;
    font-weight: 790;
}

.heading-2 {
    color: #13183F;
    font-size: 25px;
    font-weight: 790;
}


.courses {
    display:flex;
    column-gap:30px;
    /* justify-content: space-between; */
    align-items:center;
}

.course-item {
    height: 320px;
    padding: 70px 30px;
    border-radius: 20px;
    width: 30%;
    display:flex;
    flex-direction: column;
    justify-items:last baseline;
    /* align-content: space-between; */
    row-gap: 20px;
}


.course-item-1 {
    color: white;
}

.course-item-2, .course-item-3 {
    background-color: white;
    column-gap: 50px;
}

.course-item-3 {
    /* margin-right: 50px; */
}


.grey-text {
    color: #83869a;
    line-height: 30px;
    font-size: 18px;
}

.link {
    color: #F74780;
    font-size: 18px;
    font-weight: 700;
    justify-self: flex-end;
}


